body h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-align: center;
}

.robot {
    position: relative;
    /* background-color: #888888; */
    width: 300px;
    height: 500px;
    margin: 0 auto;
}
.head {
    border-top: 130px solid #5080de;
    border-radius: 200px 200px 0 0;
    width: 160px;
    margin: 60px auto;
    position: relative;
    transition: width 3s;
}
.head:hover {
    width: 250px;
}

.eye-left {
    border: 7px solid white;
    border-radius: 7px;
    width: 1px;
    position: absolute;
    left: 30px;
    bottom: 20px;
}
.eye-right {
    border: 7px solid white;
    border-radius: 7px;
    width: 1px;
    position: absolute;
    right: 30px;
    bottom: 20px;
    transition: right 3s;
}
.head:hover .eye-right {
    right: 120px;
}
.body {
    border-top: 185px solid #5080de;
    border-radius: 0 0 55px 55px;
    width: 160px;
    margin: 0 auto;
    position: absolute;
    left: 70px;
    top: 140px;
}
.left-hand {
    border-top: 100px solid #5080de;
    width: 30px;
    border-radius: 55px;
    right: 170px;
    bottom: 85px;
    position: absolute;
}
.right-hand {
    border-top: 100px solid #5080de;
    width: 30px;
    border-radius: 55px;
    left: 170px;
    bottom: 85px;
    position: absolute;
}
.left-leg {
    border-top: 100px solid #5080de;
    width: 30px;
    border-radius: 55px;
    left: 40px;
    top: -40px;
    position: absolute;
}
.left-leg:hover {
    transform: rotate(20deg);
}
.right-leg {
    border-top: 100px solid #5080de;
    width: 30px;
    border-radius: 55px;
    right: 40px;
    top: -40px;
    position: absolute;
}
.right-leg:hover {
    transform: rotate(-20deg);
}